html{
  background-color: rgb(255, 255, 255);
}
ul li{
  list-style: none;
}

/*1. Home page */
/* 1.1 Annoucement section */
.AnnoucementsectionHeader{
  display: flex;
  align-items: center;
  justify-content: center;
}
.AnnoucementSearch{
  margin-left:3vw;
  border-radius: 4px;
  border: 1px solid black;
}

.AnnoucementSection{
  text-align: center;
  
  margin:2vw;
  overflow: scroll;
  background-color:rgb(255, 255, 255) ;
}
h1{
  margin-top:1vh;
  text-align: center;
}

.annoucementlistitem{
  display: flex;
  flex-direction:row;
}
.annoucementlistitem li{
  margin-right:1vw;
  
  
}

/* 1.2 Event section */
.EventsectionHeader{
  display: flex;
  align-items: center;
  justify-content: center;
}
.EventSearch{
  margin-left:3vw;
  margin-right:2vw;
  border-radius: 4px;
  border: 1px solid black;
}

.EventSection{
  text-align: center;
  
  margin:2vw;
  overflow: scroll;
  background-color:rgb(255, 255, 255) ;
}
h1{
  margin-top:1vh;
  text-align: center;
}

.Eventlistitem{
  display: flex;
  flex-direction:row;
}
.Eventlistitem li{
  margin-right:1vw;
  
  
}